
/*Rubik */


@font-face {
  font-family: 'Rubik';
  src: local('./fonts/Rubik/static/Rubik-Regular.ttf') format('ttf');   /* Older Browsers */
  font-weight: normal;
  font-style: normal;
}

/*Baskerville */


@font-face {
  font-family: 'Baskerville';
  src: local('./fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('ttf');   /* Older Browsers */
  font-weight: normal;
  font-style: normal;
}

/*Montserrat */

@font-face {
  font-family: 'Montserrat';
  src: local('./fonts/Montserrat/static/Montserrat-Regular.ttf') format('ttf');   /* Older Browsers */
  font-weight: normal;
  font-style: normal;
} 

body {
      font-size: 62.5%;
}

.content {
    padding: 50px; /* Add padding to center content vertically */
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 4%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    color: #000000;
    font-size: 2.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 2%;
    margin: 0.8%;
    font-size: 1.6em;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    white-space: nowrap;
}

.static-section {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
    padding: 50px;
    background-image: url('snow-covered-trees-mountains-captured-cloudy-day2.jpg'); /* Apply background image only to the first section */
    background-size: cover;
    background-position: center;
    position: relative;
}

.static-section h1 {
    font-family: 'Rubik', serif; /* Specify the desired font */
    font-size: 4em;
    margin-bottom: 20px;
    color: #000000;
    position: relative;
    z-index: 2;
    margin-left: 17%;
}

.static-section .subtitle {
    font-family: 'Baskerville', sans-serif;
    color: #000000;
    font-size: 2em;
    max-width: 600px;
    position: relative;
    z-index: 2;
    margin-left: 22%;
}

.section {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease;
    font-size: 2em;
}

#about {
    background-color: #fff;
    color: #000;
    font-size: 1.7em;
    line-height: 1.5;
}

#publications {
    background-color: rgba(20,49,97, 0.6);
    color: #000;
}

#workinggroups {
    background-color: #fff;
    color: #000;
}

#contact {
    background-color: rgba(20,49,97, 0.6);
    color: #000;
}

.project li {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(20,49,97, 0.6);
    padding: 1rem;
}

.member-list li {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 0rem;
    text-align: center;
    list-style-type: none;
    line-height: 1.5;
}

}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    font-size: 2em;
}

.fade-in {
    opacity: 1;
}

